@charset "UTF-8";

	@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');



	.final_list{
		width: 100%;
	    margin-left: 5px;
	    margin-top: 5px;
	    padding-top: 20px;
	}
	
	body {
		font-family: "Nanum Gothic Coding", monospace;
		font-weight: 400;
		font-style: normal;
		 margin: 0px;
	}
	
		/* 스크롤바 설정*/
	.scroll::-webkit-scrollbar{
		width: 18px;
		height : 18px;
	}
	
	/* 스크롤바 막대 설정*/
	.scroll::-webkit-scrollbar-thumb{
		background-color: rgba(255,255,255,1);
	/* 스크롤바 둥글게 설정    */
		border-radius: 10px; 
		border: 7px solid rgba(0,0,0,0.8);
	}
	
	/* 스크롤바 뒷 배경 설정*/
	.scroll::-webkit-scrollbar-track{
		background-color: rgba(0,0,0,0);
	}
	
	.tic{
		padding-right : 0!important;
		padding-left : 0!important;
	}
	
	
	.tic_movie{
		background-color : white;
		height : 800px;
		border : solid 3px black;
		margin-right:0;
	}
	
	.tic_theater{
		background-color : white;
		height : 800px;
		padding : 0px;
		margin : 0px;
		border : solid 3px black;
		
	}
	
	
	.tic_final{
		background-color : white;
		height : 800px;
		padding : inherit;
		border : solid 3px black;
	}
	
	.explain{
		height : 10%;
		border-bottom : solid 3px black;
		padding : 20px;
	}
	
	.list{
		height: calc(90% - 20px); /* 내부 padding과 border 높이를 고려한 계산 */
		padding : 5px;
	}
		
		
	
	li{
		list-style-type : none;
	}
	
	
	ul{
		padding-left: 5px!important;
	}
	
	.daylist{
		height : 10%;
		border-bottom : solid 3px black;
		display: flex; /* Flexbox 설정 */
		align-items: center; /* 버튼을 수직으로 가운데 정렬 */
		
	}
	
	.scroll_button {
	    cursor: pointer;
	    padding: 5px;
	    border: none;
	    width: 50px;
	    height: 50px;
	    top: 50%;
	    transform: translateY(-50%);
	}
	
	.scroll-button.left {
    	left: 0;
	}
	
	.scroll-button.right {
    	right: 0;
	}
	
	
	button img{
		height:100%;
		width: 100%;
	}
	
	.daylist button {
		margin: 0 5px; /* 버튼들 사이의 간격 조절 */
	}
	
	.movielist{
		height : calc(90% - 100px);
		padding-left : 20px;
		overflow-y: scroll; 
		white-space: nowrap;
	}
	
	.select_container {
		 margin-top: -15px;
		 position : relative;
		 height: 10%;
		 margin-left : 140px;
		 width : 200px;
	}
	
	
	.movie_atrbt{
		height : 80px;
		
	}
	
	.theaterlist {
	    overflow-y: scroll; /* 세로 스크롤이 필요할 때만 스크롤을 표시합니다. */
		max-height: 100%; /* 부모 요소의 높이에 맞게 조절합니다. */
		white-space: nowrap;
		padding-left : 10px;
	}
	
	.daylist {
	    white-space: nowrap; /* 일자 목록이 가로로 나열되도록 설정합니다. */
	    overflow-x: scroll; /* 가로 스크롤을 표시합니다. */
	}
	
	.finallist{
		height : 95%;
		padding : inherit;
	}
	
	.finalmovielist{
		height : calc(90% - 50px);
		padding-left : 10px;
		overflow-y: scroll; 
		white-space: nowrap;
	}
		
	
	
	
	
	
	
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 80%;
  cursor: inherit;
  line-height: inherit;

  z-index: 1;

  &::-ms-expand {
    display: none;
  }

  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
	
  select,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;

  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);



select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;

  /*
   * Safari will not reveal an option
   * unless the select height has room to 
   * show all of it
   * Firefox and Chrome allow showing 
   * a partial option
   */
  height: 6rem;

  option {
    white-space: normal;

    outline-color: var(--select-focus);
  }

  /* 
   * Experimental - styling of selected options
   * in the multiselect
   * Not supported crossbrowser
   */
&:not(:disabled) option {
	border-radius: 12px;
	transition: 120ms all ease-in;

		&:checked {
		background: linear-gradient(hsl(242, 61%, 76%), hsl(242, 61%, 71%));
		padding-left: 0.5em;
		color: black !important;
		}
}
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}  
}

.side_var{
	margin-right : 50px;
	
}

.tic_main{
	width : 1200px;
	margin-left : 250px;
}


.tic_title{
	margin-left : 350px;	
	margin-top : 100px;
	margin-bottom : 100px;
}

.tic_row{
	margin-bottom : 100px;
	margin-left : 300px;
}
	
.tic_button{
	text-align : right;
	width : 20%;
	height : 20%;
	margin-bottom : 100px;
}

  	a {
	  text-decoration: none!important;
	  color : black!important;
	}
	
	*.selected{
		background-color : yellow;
	}
