<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itwillbs.p2c3.boogimovie.mapper.NoticeMapper">

	<select id="selectNoticeList" resultType="itwillbs.p2c3.boogimovie.vo.NoticeVO">
		SELECT n.notice_num,
			   n.notice_subject,
			   n.notice_content,
			   t.theater_name,
			   n.notice_category,
			   n.notice_date,
			   ROW_NUMBER() OVER (ORDER BY notice_num ) AS row_num
		FROM notice n
		LEFT OUTER JOIN theater t
		ON n.theater_num = t.theater_num
		<if test="theaterName != '' and theaterName != null">
			WHERE t.theater_name = #{theaterName}
		</if>
		ORDER BY row_num DESC
		limit #{startRow}, #{listLimit};
	</select>
	
	<select id="selectNotice" resultType="itwillbs.p2c3.boogimovie.vo.NoticeVO">
		<![CDATA[
		SELECT n.notice_num
			 , n.notice_subject
			 , n.notice_content
			 , t.theater_name
			 , n.notice_date
			 , (SELECT notice_num 
				  FROM notice
				 WHERE notice_num < n.notice_num
				 ORDER BY notice_date DESC
				 LIMIT 1) AS prev
			 , (SELECT notice_num
				  FROM notice
				 WHERE notice_num > n.notice_num
				 ORDER BY notice_date 
				 LIMIT 1) AS next	 
		  FROM notice n
		  LEFT OUTER JOIN theater t
			ON n.theater_num = t.theater_num
	 	 WHERE notice_num = #{notice_num}
	 	 ]]>
	</select>
	
	<!-- 극장명이 동일한 게시판글 갯수 -->
	<select id="selectNoticeListCountCag" resultType="int">
		SELECT COUNT(n.notice_num)
		FROM notice n
		LEFT OUTER JOIN theater t
		ON n.theater_num = t.theater_num
		<if test="category != null and category != ''">
			WHERE theater_name = #{category}
		</if>
	</select>
	
	<!-- 검색어를 통한 게시판 목록 -->
	<select id="selectNoticeKeywordList" resultType="itwillbs.p2c3.boogimovie.vo.NoticeVO">
		SELECT n.notice_num,
			   n.notice_subject,
			   n.notice_content,
			   t.theater_name,
			   n.notice_category,
			   n.notice_date
		FROM notice n
		LEFT OUTER JOIN theater t
		ON n.theater_num = t.theater_num
		<if test="!searchKeyword.equals('') and searchKeyword != null">
			WHERE n.notice_subject LIKE CONCAT('%', #{searchKeyword}, '%') 
			OR n.notice_content LIKE CONCAT('%', #{searchKeyword}, '%')
			OR t.theater_name LIKE CONCAT('%', #{searchKeyword}, '%')
			OR n.notice_category LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		ORDER BY notice_num DESC
		limit #{startRow}, #{listLimit};
	</select>
	<!-- 검색어를 통한 게시판 목록 -->
	<select id="selectNoticeSearchKeywordCount" resultType="int">
		SELECT COUNT(n.notice_num)
		FROM notice n
		LEFT OUTER JOIN theater t
		ON n.theater_num = t.theater_num
		<if test="!searchKeyword.equals('') and searchKeyword != null">
			WHERE n.notice_subject LIKE CONCAT('%', #{searchKeyword}, '%') 
			OR n.notice_content LIKE CONCAT('%', #{searchKeyword}, '%')
			OR t.theater_name LIKE CONCAT('%', #{searchKeyword}, '%')
			OR n.notice_category LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
	</select>
	
	<select id="selectTheaterNum" resultType="int">
		SELECT t.theater_num
		FROM theater t
		LEFT OUTER JOIN notice n
		ON n.theater_num = t.theater_num
		<if test="theater_name != '' and theater_name != null">
			WHERE t.theater_name = #{theater_name}
		</if>
		LIMIT 0, 1
	</select>
	<update id="updateNotice">
		UPDATE notice
		SET notice_subject = #{notice_subject}
			, notice_content = #{notice_content}
		WHERE notice_num = #{notice_num}
	</update>
	

</mapper>